#main-lateral-bar{
    max-width: 167px;
    background: #3c4250;
    height: calc(100vh - 36px);
    float: left;
    position: fixed;
    margin: 36px 0 0 0 ;
    z-index: 104;
        width: 167px;
}

.showsidebar{
    -webkit-animation-name: showsidebar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
     animation-name: showsidebar;
    animation-duration: .5s;
   -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

@keyframes showsidebar {
        from {left: -167px;}
    to {left: 0;}
}

@-webkit-keyframes  showsidebar {
        from {left: -167px;}
    to {left: 0;}
}


.hidesidebar{
    -webkit-animation-name: hidesidebar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
     animation-name: hidesidebar;
    animation-duration: .5s;
   -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

@keyframes hidesidebar {
      from {left: 0;}
    to {left: -167px;}
}

@-webkit-keyframes  hidesidebar {
         from {left: 0;}
    to {left: -167px;}
}







.reveal-lateral-bar {
    position: fixed;
    top: 36px;
    left: 0;
    background: #3c4250;
    width: 4em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: white ;
    cursor: pointer;
    z-index: 103;
}





.reveal-lateral-bar:hover{
	background: #616671;
	color: white;
}


.reveal-lateral-bar a{
    
    color: white ;

}

.reveal img{
	display: block;
    width: 25px;
    height: 25px;
    float: right;
    margin: .5em 1em;
}

#main-lateral-bar .logo-container{
    height: 158px;
    background: #4f81a1;
    text-align: center;
    line-height: 158px;
}

.logo-container .logo{
    margin: 3em 0 0 0;
}

.side-bar-menu{

}

.side-bar-menu ul{
    margin: 0;
    padding: 0;
}

.side-bar-menu li{
    list-style-type: none;
}


.side-bar-menu a svg, .side-bar-menu .img-vector {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin: 1.2em 1em;
}

.side-bar-menu a svg, path{
    fill: white;
}

.side-bar-menu a{
	display: block;
	height: 55px;
	line-height: 55px;
	color: white;
	border-bottom: 1px solid #616671;
}




.side-bar-menu a:hover{
	background: #616671;
	color: white;
}

.side-bar-menu a.active{
	background: #ea3f33;
}

.side-bar-menu a.audience{
    line-height: 14px;
    
    position: relative;
}

.side-bar-menu .audience .option-name{
    
    position: absolute;
    top: 1em;
}


.copyright-container{
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	bottom: 1em;
}