#main-lateral-bar{
    max-width: 167px;
    background: #3c4250;
    height: calc(100vh - 36px);
    position: relative;
}

#main-lateral-bar .logo-container{
    height: 158px;
    background: #4f81a1;
    text-align: center;
    line-height: 158px;
}

.logo-container .logo{
    margin: 3em 0 0 0;
}

.side-bar-menu{

}

.side-bar-menu ul{
    margin: 0;
    padding: 0;
}

.side-bar-menu li{
    list-style-type: none;
}


.side-bar-menu a span.icon {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    background: white;
    margin: 1.2em 1em;
}

/* ICONOS DE MENU */

.side-bar-menu li a.audience .icon{
	 mask-image: url("../img/svg-icons/audience.svg");
	 -webkit-mask:url("../img/svg-icons/audience.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
   	 margin: .3em 1em 1em 1em;
}

.side-bar-menu li a.audience {
	line-height: inherit;
	padding: 1em 0 0 0;
	height: 45px;
}

.side-bar-menu li a.real-time .icon{
	 mask-image: url("../img/svg-icons/real-time.svg");
	 -webkit-mask:url("../img/svg-icons/real-time.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
}

.side-bar-menu li a.advanced .icon{
	 mask-image: url("../img/svg-icons/advanced.svg");
	 -webkit-mask:url("../img/svg-icons/advanced.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
}

.side-bar-menu li a.QOS .icon{
	 mask-image: url("../img/svg-icons/qos.svg");
	 -webkit-mask:url("../img/svg-icons/qos.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
}

.side-bar-menu li a.programmation .icon{
	 mask-image: url("../img/svg-icons/programmation.svg");
	 -webkit-mask:url("../img/svg-icons/programmation.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
}

.side-bar-menu li a.close-menu .icon{
	 mask-image: url("../img/svg-icons/close-menu.svg");
	 -webkit-mask:url("../img/svg-icons/close-menu.svg") no-repeat 50% 50%;
	 -webkit-mask-size: cover;
 	 mask-size: cover;
}

.side-bar-menu a{
	display: block;
	height: 55px;
	line-height: 55px;
	color: white;
	border-bottom: 1px solid #616671;
}


.side-bar-menu a:hover{
	background: #616671;
	color: white;
}

.side-bar-menu a.active{
	background: #ea3f33;
}

.copyright-container{
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	bottom: 1em;
}