main{
    padding: 36px 0 0 167px;
    overflow: hidden;
    background: #f5f5f5;
}

/* Animaciones para main */

    .no-menu{
        -webkit-animation-name: nomenu; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: nomenu;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes nomenu {
        from {padding: 36px 0 0 167px;}
        to {padding: 36px 0 0 0;}
    }

    @-webkit-keyframes  nomenu {
        from {padding: 36px 0 0 167px;}
        to {padding: 36px 0 0 0;}
    }


    .with-menu{
        -webkit-animation-name: withmenu; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: withmenu;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 167px;}
    }

    @-webkit-keyframes  withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 167px;}
    }


    /* - Menu con Header de preferencias - */

    .no-menu-preferences{
        -webkit-animation-name: nomenu-preferences; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: nomenu-preferences;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes nomenu-preferences {
        from {padding: 36px 0 0 167px;}
        to {padding: 36px 0 0 0;}
    }

    @-webkit-keyframes  nomenu-preferences {
        from {padding: 36px 0 0 167px;}
        to {padding: 36px 0 0 0;}
    }


    .with-menu-preferences{
        -webkit-animation-name: withmenu-preferences; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: withmenu-preferences;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes withmenu-preferences {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 167px;}
    }

    @-webkit-keyframes  withmenu-preferences {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 167px;}
    }


/* --- */


/*-  RESPONSIVE - TABLET Y CELULAR (HASTA 860PX) -*/

@media screen and (max-width: 860px){
    main{
        padding: 36px 0 0 0 !important;
    }

    .with-menu{
        -webkit-animation-name: withmenu; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: withmenu;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 0;}
    }

    @-webkit-keyframes  withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 0;}
    }


    #main-container > .row {
        padding: 0 2em !important;
    }
  
} 




#main-container > .row {
    padding: 0 5em !important;
}

#main-content-preferences #preferences-header{
        height: 160px !important;
    background: #ea3f33 !important;
    overflow: hidden !important;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;

}


    /* - Header de preferencias - */

    .no-menu-header-preferences{
        -webkit-animation-name: nomenu-header-preferences; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: nomenu-header-preferences;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes nomenu-header-preferences {
        from {padding: 0 ;}
        to {padding: 0 0 0 3em;}
    }

    @-webkit-keyframes  nomenu-header-preferences {
        from {padding: 0 ;}
        to {padding: 0 0 0 3em;}
    }


    .with-menu-header-preferences{
        -webkit-animation-name: withmenu-header-preferences; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: withmenu-header-preferences;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes withmenu--header-preferences {
        from {padding-left: 0 0 0 3em;}
        to {padding-left: 0;}
    }

    @-webkit-keyframes  withmenu-header-preferences {
        from {padding-left: 0 0 0 3em;}
        to {padding-left: 0;}
    }


/* --- */


#preferences-header h2{
        font-family: roboto;
    font-weight: 100;
    margin: 32px 0 0 35px;
    font-size: 35px;
}

#preferences-header nav{
        margin: 46px 0 0 18px;
}

#preferences-header  nav ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}


#preferences-header  nav ul li{
    float: left;
    list-style-type: none;
        margin: 0 20px;
 
}

#preferences-header nav ul li a{
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
    color: #f5b0ad ;
    border-bottom: 4px solid #ea3f33
  
}

#preferences-header nav ul li a:hover{
    color: white ;
    border-bottom: 4px solid black;

}


#preferences-header nav ul li a.active{
    color: white ;
    border-bottom: 4px solid black;
  
}

#main-content header{
    height: 38px;
    background: #eee;
    overflow: hidden;
}

#main-content header nav{
    width: 180px;
    margin: 0 auto;
}

#main-content header nav ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}


#main-content header nav ul li{
    float: left;
    list-style-type: none;
    width: 90px;
}

#main-content header nav ul li a{
    display: block;
        height: 38px;
    padding-top: 12px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-bottom: 4px solid #eee
}

#main-content header nav ul li a:hover {
    border-bottom: 4px solid #ccc;
}

#main-content header nav ul li a.active {
    border-bottom: 4px solid #ea3f33;
}

#main-content-preferences #main-container{
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 74px - 15.3em);
    padding-bottom: 5em;
    padding-top: 13.3em;
}

#main-container {
        overflow: hidden;
    position: relative;
    min-height: calc(100vh - 74px - 5em);
    padding-bottom: 5em;
}


{
    padding: 0px 4em 0 2em;
}


#main-container .panel {
    background: white;
    box-shadow: 0px 5px 9px -5px rgba(0, 0, 0, 0.18);
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin: 30px 0 0 0;
    position: relative;
   }

.panel .info{
      width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .5;

}

#main-container .panel h2.panel-title{
        font-size: 25px;
    font-weight: 400;
}

/* Panel de usuarios ahora */

.users-now{
    background: #ea3f33 !important;
    color: white;
    padding: 3vw 20px  3vw!important;
    text-align: center;
    height: calc(480px - 6vw)
}

@media screen and (max-width: 1440px){
  .users-now{

    padding: 5vw 20px  1vw!important;

    }
  
} 

@media screen and (max-width: 1650px){
  .users-now{

    padding: 4vw 20px  2vw!important;

    }
  
} 



.users-now .hour{
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.users-now .users-quantity{
    font-size: 9vw;
    margin: 0;
    font-weight: 500;
}

.users-now .users-label{
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 500;
        overflow: hidden;
    width: 15em;
    margin: 0 auto;
}

.users-label svg, .users-label .img-vector{
    width: 2.4vw;
    height: 2.4vw;

    display: inline-block;
    float: left;
    margin: 0 12px 0 0;

}

.users-label svg, .users-label .img-vector path{
    fill: white;
}

.users-label h2{
    float: left;
    margin: 0;
        font-size: 2vw;

}

/* Panel de plataformas */

.platforms-stats{ 
    height: calc(420px - 40px);
}

.platforms-stats .platform-container{
    overflow: hidden;
        margin-top: 48px;
}

.platforms-stats .desktop{
    margin-top: 30px !important;
}



.platform-container .platform-name h2{
    float: left;
    text-transform: uppercase;
    color: #3c4040;
    font-size: 15px !important;
    font-weight: 400 !important;
    margin: 1.5em 0 1em 0;
}
.platform-container .percentage{
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.percentage-bar-container{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 6px;
    position: relative;
    padding: 4px 0;
}

.percentage-bar-container .hundred-percent {
    height: 6px;
    display: block;
    width: 100%;
    background: #d8d9d9;
}

.percentage-bar-container .real-time-percentage-bar {
    display: block;
    height: 13px;
    position: absolute;
    top: 0;
    width: 3em;
    background: red;
}

.platform-name svg, .platform-name .img-vector{
    display: block;
    width: 40px;
    height: 38px;
    float: left;
    margin: 0 15px 0 0;
}


/*desktop*/

.platforms-stats  .desktop .real-time-percentage-bar{
    background: #ea3f33;
}

.platforms-stats  .desktop .percentage{
    color: #ea3f33;
}


/*Mobile-app*/

.platforms-stats  .mobile-app .real-time-percentage-bar{
    background: #8bc149;
}

.platforms-stats  .mobile-app .percentage{
    color: #8bc149;
}




/*Mobile-web*/

.platforms-stats  .mobile-web .real-time-percentage-bar{
    background: #10bdfa;
}

.platforms-stats  .mobile-web .percentage{
    color: #10bdfa;
}





/*Paneles numéricos */

.numeric{    
    height: calc(155px - 36px);
    margin: 10px 0 0 0  !important;
}

.numeric:first-child{
    margin: 30px 0 0 0 !important;
}


.numeric .number-container{
        margin: 0 0 10px 25%;
}

.numeric .number-container svg, .numeric .number-container .img-vector{
    width: 2.4vw;
    height: 2.4vw;
    display: inline-block;
    margin: 0 12px 0 0;
    float: left;
}




.numeric .number-container h3{
    font-size: 2.4vw;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    line-height: 50px;
}

.numeric h2{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #767676;
     margin: 0;
         display: block;
}

.numeric .min-container{
    font-size: 1.5vw;
    line-height: 26px;
    display: block;
    float: right;
    margin: 18px 0 0 15px;
}

.percentage-module{

    margin: 35px 0 0 0;
}

.percentage-module h2{
    margin: 0;
    width: 69%;
    display: inline-block;
    font-size: 1.1vw;
}

.percentage-module h3{

    display: inline-block;
    font-size: 1.8vw; /*30px*/
    color: #607d8d;
    display: inline-block;
    text-align: right;
    width: 29%;
    text-align: right;

    margin: 0 0 2px 0;
}

.percentage-module .percentage-bar-container .real-time-percentage-bar {
background:  #607d8d;
}


/* Programa actual */

.program{
    background: #12b4f0 !important;
    color: white;
}

.program h3{
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.program h2{
    margin: 0;
}

.program .player{
    height: 48px;
    background: #0e90ce;
    margin: 24px 0 0 0;
}

.radio-name-container{
     width: 40%;
    float: left;
}

.radio-name-container .play{
    display: block;
    width: 2.2vw;
    height: 2.2vw;
    float: left;
    margin: calc((48px - 33px)/2);

}

.radio-name-container .radio-name{
    line-height: 48px;
    font-size: 1vw;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio-name-container a{
    width: 2em;
    float: left;
    padding: 1em;
    display: block;
}

#volume{
    width: 2em;
    float: left;
    padding: 1em .5em;
    display: block;
}

.radio-name-container a img{
   width: 100%
}

.volume-container{
    width: 60%;
    float: left;
}

.volume-container .volume-bar{
        width: 6vw;
    height: 9px;
    background: #283a4c;
}

.volume-container .volume{
    background: #1780b2;
    height: 9px;

    margin: 1.7em 0 0 1vw;
    cursor: pointer;
    float: left;
    width: calc(100% - 4.5vw);
}


/* Ver encoder */

.encoder{
    background: #3c4250 !important;
    color: white;
    padding: 0 !important;
}

 .encoder  .icon-container svg,  .encoder  .icon-container .img-vector{

    width: 24px;
    height: 26px;
    display: block;
    margin: 12px 12px;
}

.encoder .icon-container {
    float: left;
    border: 2px solid;
    border-radius: 3em;

}

.encoder a{
        display: block;
    padding: 18px;
}



.see-encoder-container{
    width: 17em;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    color: white;
}

.encoder a:hover{
   
   background:  rebeccapurple;
}


.texts {
    float: left;
    margin: .5em 0 0 1em;
}

.texts h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 .3em 0;
}

.texts h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}



#preferences-header{
        height: 160px !important;
    background: #ea3f33 !important;
    overflow: hidden !important;
    color: white;
}

/* Numbers Spiners¨*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 40px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.tabs-container{
        overflow: hidden;
    float: left;
    margin: 2em 0 0 9em;
}

.tabs-centered{
    overflow: hidden;
     float: none;
    margin: 4em auto 1em;
    max-width: 63em;
}


.tabs-container .hint{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    float: left;
    margin: 0 1em 0 0;
    line-height: 34px;
}
.tabs{
    border: 2px solid red;
    float:left;
    height: 30px;
    line-height: 30px;
    border-radius: .3em;
    overflow: hidden;

}

.tabs .tab{
    display: block;
    float: left;
    padding: 0 1em;
    font-family: Roboto;
    border-right: 2px solid #ea3f33;
    font-size: 13px;
    text-transform: uppercase;
}


.tabs .tab:last-child{
   
    border-right: none;

}

.tabs .tab:hover{
   
    background: #ea3f33;
    color: white;

}


.tabs .tab.active{
   
    background: #ea3f33;
    color: white;

}


.st0 {
    fill: white;
}