
@media  screen and (max-width: 1520px){

    .grid-item .info-box .data {
        color: #939393;
        font-size: .85vw;
        font-weight: 400;
        display: block;
        padding: 0 1vw;
    }

    .grid-item footer .icons-container .icon {
           display: block;
    width: 18%;
    height: 2.2vw;
    float: left;
    background: #a0a5d8;
    margin: 1.2vw 3%;
    cursor: pointer;
    }

    .grid-item footer .icons-container {
        padding-left: 0;
        width: 65%;
        margin: 0px 17.5%;
    }

    .numeric .number-container svg, .numeric .number-container .img-vector {
        width: 2.4vw;
        height: 2.4vw;
        display: inline-block;
        margin: .4vw 12px 0 0;
        float: left;
    }

}


@media screen and (max-width: 1360px){
    .grid .grid-item {
        width: 23%;
        margin: 1% calc(1% - 2px) 0;
        float: left;
        border: 2px solid #efefef;
        position: relative;
    }
    #main-container > .row {
    padding: 0 3em !important;
}


}



@media screen and (max-width: 1405px){
    .tabs-container {
        overflow: hidden;
        float: inherit;
            margin: 3em 0 1em 3em;
        clear: both;
    }

    .tabs {
        border: 2px solid red;
        float: left;
        height: 2em;
        line-height: 2em;
        border-radius: .3em;
        overflow: hidden;
    }
    
    .tabs .tab{
        font-size: 1em;
    }

    .tabs-container.audience-tabs {
        overflow: hidden;
        float: inherit;
        margin: 9em 0 1em 0;
        clear: both;
        max-width: 58em;
    }

}

@media screen and (max-width: 1280px){


.grid-item .info-box .quantity {
    font-size: 2vw;
    font-weight: 500;
    color: #939393;
    display: block;
}


.grid-item .info-box .data {
    color: #939393;
    font-size: 1vw;
    font-weight: 400;
    display: block;
    padding: 0 1vw;
}
}

@media screen and (max-width: 1200px){
   .start-collumn {
    padding: 0 !important;
}

.info-container .number-label {
    font-size: .78em;
}

.info-container .number {

    font-size: 2em;

}

.number-panel-container .icon {
    display: block;
    background: black;
    width: 3em;
    height: 3em;
    float: left;
    margin: 0 .5vw 0 0;
}

.users-now {

        height: auto;

    }

 .users-label h2 {
        float: left;
        margin: 0;
        font-size: 20px;
    }



.users-label svg, .users-label .img-vector {
    width: 1.4em;
    height: inherit;
    display: inline-block;
    float: left;
    margin: 0 12px 0 0;
}

 .users-now .users-label {
        width: 246px;

    }

.users-now .users-label {
    font-size: 2.4em;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    line-height: 1.5em;
    margin: 0 auto;
}

.users-label svg, .users-label .img-vector {
    width: 1.4em !important;
    height: inherit;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

.numeric .number-container svg, .numeric .number-container .img-vector {
    width: 3em;
    height: 3em;
    display: inline-block;
    margin: .5em .5em 0 0;
    float: left;
}

.numeric .number-container h3 {
    font-size: 3.4vw;
}

.numeric h2 {
    font-size: 1.3vw;
}

.grid .grid-item {
    width: 31.3%;
    margin: 1% calc(1% - 2px) 0;
    float: left;
    border: 2px solid #efefef;
    position: relative;
}
.responsive-padding{
    padding: 0 !important;
}

.percentage-module h2 {
    font-size: 1.4em;
  
}

.grid-item h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.radio-name-container .play {
 
    width: 2.2em;
    height: 2.2em;
    
    margin: .8em 1em;

}

.volume-container .icon {
    width: 2.2em;
    height: 1.8em;
    margin: 1em 1em;
    }


.volume-container {
    width: 30%;
    float: left;
}

.radio-name-container .radio-name {
    line-height: 48px;
    font-size: 1.2em;
 }

.radio-name-container {
    width: 70%;
    float: left;
}

.end-collumn {
    padding: 0 !important;
}

.volume-container .volume {

    margin: 1.7em 0;
    float: left;
    width: calc(100% - 5.4em );
}

.numeric{
        width: calc(33.33333333% - 20px - 3em);
        float: left;
        margin: 30px 0 0 0 !important;
        min-height: 9vw;
}

.full-number-panel{
    width: calc(33.33333333% - 20px - 3em);
    float: left;
    margin: 30px 20px 0 !important;
}

.full-number-panel:first-child, .full-number-panel:last-child{
    margin: 30px 0 0 !important;
}

.full-number-panel-container .info-container .number {
    margin: 0;
    font-size: 2.5em;
}


.full-number-panel .info-container .number-label {
    font-size: .8em;
}
.numeric.users{
    
    margin: 30px 20px 0 !important;

}



.numeric .number-container {
    margin: 0 0 10px 17%;
}

.numeric .number-container .icon {
    width: 3.4vw;
    height: 3.4vw;
    margin: .5em 1vw 0 0 !important;
    }

.numeric .min-container {
    font-size: .5em;
   
    margin: 18px 0 0 .5em;
}
.grid-item .grid-icon-container {
    display: block;
    width: 2.7em;
    height: 2.7em;
}

.grid-item .grid-icon-container .icon {
    display: block;
    width: 2em;
    height: 2em;
    margin: .3em auto;
    background: #000;
}

}

@media screen and (max-width: 960px){

.tabs-container {
 
    width: 59em;
}
}

@media screen and (max-width: 890px){

.users-label svg, .users-label .img-vector {
    width: 1.4em;
    height: inherit;
    display: inline-block;
    float: left;
    margin: 0 12px 0 0;
}

.report-option .button-container {
    float: right;
    margin: 1em auto;
    overflow: hidden;
    width: 8em;
}

.report-option .content {
    float: left;
    padding-bottom: 12px;
    border-bottom: 1px solid #a3a3a3;
    width: 100%;
    margin: 0 0 3em 0;
}

.report-option {
    overflow: hidden;
    margin: 0 0 40px 0;
}
 

#preferences-header nav {
    display: none;
}
#main-content-preferences #preferences-header {
    height: 100px !important;
    }

    #main-content-preferences #main-container {
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 74px - 15.3em);
    padding-bottom: 5em;
    padding-top: 7.5em;
}

}

@media screen and (max-width: 860px){
    
    /* Estilos del main*/
    main{
        padding: 36px 0 0 0 !important;
    }
    
    .full-number-panel {
    width: calc(33.333333% - 15px - 3em);
}
    
    .full-number-panel-container .icon {
    display: block;
    width: 2em;
    float: left;
    margin: .5em .5em .5em 0;
}

.full-number-panel-container .info-container .number {
    margin: 0;
    font-size: 2.2em;
}


.container .number .seg {
    font-size: .6em;
}
    .with-menu{
        -webkit-animation-name: withmenu; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
         animation-name: withmenu;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 0;}
    }

    @-webkit-keyframes  withmenu {
        from {padding: 36px 0 0 0;}
        to {padding: 36px 0 0 0;}
    }


    #main-container > .row {
        /*padding: 0 2em !important;*/
        padding: 0 1.5em !important;
    }
    
    

   

    .users-label .icon {
    width: 30px;
    height: 30px;
    }

   

    .percentage-module h3 {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 19px;
        margin: .5em 0;
    }


    .percentage-module h2 {
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    }

    /* Global */  
    .start-collumn {
        padding: 0 !important;
    }

    .end-collumn{
        padding: 0 !important;
    }

    /* Estilos del header*/  
    .user-mail {
        display: none;
        float: left;
        margin: 0 10px 0 0;
    }

    .users-now .users-quantity {
        font-size: 7em;
        margin: 0;
        font-weight: 500;
    }

    .toggle-channels-mobile{
        display: block;
        cursor: pointer;
    }

    .channels-container{
        display: block;
        background: white;
        width: 14em;
        left: 4em;
        position: fixed;
        top: 36px;
        height: 0;
        overflow: hidden;
    }

    .channels-container a {
        width: calc(100% - 1em);
        display: block;
        text-align: left;
        padding: 0 0 0 1em;

    }

    .channels-container a:first-child {
        border-right:0;
        border-bottom: 1px solid #dcdcdc;
    }


    .showchannels{
        -webkit-animation-name: showchannels; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
        animation-name: showchannels;
        animation-duration: .5s;
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes showchannels {
        from {height: 0;  opacity: 0;}
        to {height: 73px;     opacity: 1;}
    }

    @-webkit-keyframes  showchannels {
        from {height: 0;  opacity: 0;}
        to {height: 73px;     opacity: 1;}
    }


    .hidechannels{
        -webkit-animation-name: hidechannels; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
        animation-name: hidechannels;
        animation-duration: .5s;
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes hidechannels {
        from {height: 73px;  opacity: 1;}
        to {height: 0;     opacity: 0;}
    }

    @-webkit-keyframes  hidechannels {
        from {height: 73px;  opacity: 1;}
        to {height: 0;     opacity: 0;}
    }


    /* Estilos del sidebar*/

    .reveal-lateral-bar {
        top: 0;
        z-index: 107;
    }  

    #main-lateral-bar {
        max-width: 167px;
        background: #3c4250;
        height: 100vh;
        float: left;
        position: fixed;
        margin: 0;
        z-index: 109;
        left: -50px;
    }

    table.audience td {
        font-size: 15px;
    }

    table.audience th {

    font-size: 15px;
 
}
    .logo-container .logo {
    margin: .5em 0 0 0;
    max-width: 1.8em;
    }

     .logo-container.contact .logo {
    margin: .5em 0 0 0;
    max-width: 6.8em;
    }

    #main-lateral-bar {
            max-width: 50px;
   }

   #main-lateral-bar a .option-name{
            display:  none;
   }

    .showsidebar{
        -webkit-animation-name: showsidebar; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
        animation-name: showsidebar;
        animation-duration: .5s;
       -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes showsidebar {
        from {left: -167px;}
        to {left: 0;}
    }

    @-webkit-keyframes  showsidebar {
        from {left: -167px;}
        to {left: 0;}
    }

    .copyright-container {
        display: none;
    }


    #main-lateral-bar .logo-container {
        height: 3em;
        line-height: 3em;
    }

    .hidesidebar{
        -webkit-animation-name: hidesidebar; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
        animation-name: hidesidebar;
        animation-duration: .5s;
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    @keyframes hidesidebar {
        from {left: 0;}
        to {left: -167px;}
    }

    @-webkit-keyframes  hidesidebar {
        from {left: 0;}
        to {left: -167px;}
    }

    table.alerts td {
    font-size: 1.2em;
    }

    .grid-item .info-box .quantity {
    font-size: 3vw;
    font-weight: 500;
    color: #939393;
    display: block;
}

.grid-item h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.grid-item .info-box .data {
    color: #939393;
    font-size: 1.5vw;
    font-weight: 400;
    display: block;
    padding: 0 1vw;
}
  


} 

@media screen and (max-width: 740px){
    .grid .grid-item {
        width: 48%;
        margin: 1% calc(1% - 2px) 0;
        float: left;
        border: 2px solid #efefef;
        position: relative;
    }



    .grid-item .info-box .data {
        font-size: 1em;
     
    }

    .grid-item .info-box .quantity {
    font-size: 2em;
}
.grid-item footer .icons-container {
    padding-left: 0;
    width: 14em;
    margin: 0px auto;
}
    .grid-item footer .icons-container .icon {
        display: block;
        width: 2.5em;
        height: 2em;
        background: #a0a5d8;
        margin: 1.2vw 3%;
        cursor: pointer;
    }


.number-panel-container {
    overflow: hidden;
    background: #f3f3f3;
    padding: 1em;
    float: left;
    width: calc(50% - 2.3em);
    margin: .2vw;
}

.number-panel-container .info-container {
    float: left;
    width: 100%;
    text-align: center;
}

.number-panel-container .icon {
    display: block;
    background: black;
    width: 3em;
    height: 3em;
    float: initial;
    margin: .5em auto;
}


}
@media screen and (max-width: 540px){



    .title-date-container{
        float: none;
    }
    .tabs {
        border: 2px solid red;
        height: inherit;
        line-height: 2em;
        border-radius: .3em;
        overflow: inherit;
        width: initial;
     }
    .tabs-container {
        overflow: hidden;
       float: inherit;
        margin:2em 5% 0;
        width: 90%;
        clear: both;
    }
    .tabs-container .hint {

        margin: 0 1em 1em 0;
    }

    .tabs .tab {
        font-size: 1.1em;
        width: 100%;
        line-height: 2em;
    }

    .platform-container .percentage {
    font-size: 25px;
    padding-top: .5em;

   }

   .numeric, .full-number-panel{
    width: calc(100% - 38px);
}



.numeric.users{
    
    margin: 30px 0 0 0 !important;

}

.numeric h2 {
    font-size: 1.4em;
}

.numeric .number-container h3 {
    font-size: 3em;
}
.numeric .number-container {
    margin: 0 0 10px 17%;
    max-width: 15em;
    margin: 0 auto 1em;
}

.report-option .button-container {
    float: inherit;
    margin: 1em auto;
    overflow: hidden;
    width: 8em;
}



}



@media screen and (max-width: 480px){
    .audience-per-program .table-container {
       
        overflow-x: auto;
      
    }
    td.icon-td-container {
    width: 10%;
}
.grid .grid-item {
    width: 99%;
    margin: 1em 0;

}

}




@media screen and (max-width: 460px){
.program .player {
    height: 107px;
    background: #0e90ce;
    margin: 24px 0 0 0;
}
.numeric.users{
    
    margin: 30px 0 0 0 !important;

}

.volume-container {
    width: 100%;
    
}



.grid-item .info-box .data {
    font-size: 1.3em;
}

.grid-item .info-box .quantity {
    font-size: 2em;
}






.radio-name-container {
    width: 100%;
    
}
}

@media screen and (max-width: 400px){

.number-panel-container .info-container {
    float: left;
    width: 100%;
    text-align: center;
}

.number-panel-container .icon {
    display: block;
    background: black;
    width: 3em;
    height: 3em;
    float: initial;
    margin: .5em auto;
}

}


@media screen and (max-width: 360px){
.grid-item .info-box .quantity {
    font-size: 2em;
}

.grid-item .info-box .data {
        font-size: 1em;
     
    }

    .grid-item footer .icons-container {
    padding-left: 0;
    width: 12em;
    margin: 0px auto;
}
.grid-item footer .icons-container .icon {
    display: block;
    width: 2.4em;
    height: 1.82em;
    background: #a0a5d8;
    margin: 2em 2% 1em;
    cursor: pointer;
}
.grid-item .content {
    margin: 0 0 2vw 0;
    padding: .5em;
}
}